DATABASE_URL=postgresql://username:password@host/database?sslmode=require
PORT=3000
JWT_SECRET=your_jwt_secret

MQTT_BROKER=wss://your-cluster.s1.eu.hivemq.cloud:8884/mqtt
MQTT_USERNAME=your_mqtt_username
MQTT_PASSWORD=your_mqtt_password
